<header>
    <nav class="navbar-expand-md navbar-dark bg-dark">
        <div>
            <a   class="navbar-brand">

            </a>
        </div>

    <ul class="navbar-nav">
        <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/welcome/todoproj" class="nav-link">Home</a></li>
        <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/todo" class="nav-link">Todos</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justufy-content-end">
        <li><a *ngIf="!auth.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="auth.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
</nav>
</header>

